<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BakerStreet 21b Mafia Club</title>
    <style type="text/css" media="screen">
        @font-face {
            font-family: Barocco_Floral_Initial;
            src: url(views/fonts/Barocco_Floral_Initial.ttf);
        }
    </style>
    <style>
        @font-face {
            font-family: old_english; /* Имя шрифта */
            src: url(views/fonts/old_english.ttf); /* Путь к файлу со шрифтом */
        }
    </style>
    <link rel="stylesheet" type="text/css" href="views/css/home.css">
</head>
<body>
<div id="page-container">

    <header id="header">
        <div class="page-title-container">
            <a id="page-logo-ref" href="/home">
                <img src="views/img/main_logo_black.png" alt="BakerLogo" id="pageLogo">
            </a>
            <div id="page-title">
                <div class="page-title-part">"Baker Street 221b"</div>
                <div class="page-title-part">Mafia Club</div>
            </div>
        </div>
        <nav>
            <ul class="main-menu">
                <li class="main-menu-item"><a class="main-menu-ref" id="about_us" href="/about_us" title="">О нас</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" id="news" href="/news" title="">Новости</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" id="rating" href="/rating" title="">Рейтинг</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" id="members" href="/members" title="">Члены клуба</a></li>
                <li class="main-menu-item current"><a class="main-menu-ref" id="hall_of_fame" href="/hall_of_fame" title="">Зал Славы</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" id="friends" href="/friends" title="">Друзья</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="top-block">
            <title class="top-title">Осень 2015</title>
            <div id="top-players">
                <div class="player" id="top1-player">
                    <!-- <a href="/players/earl_gray"> -->
                        <img class="player-logo" src="views/img/players/earl_gray.jpg" alt="Erl Gray">
                    <!-- </a> -->
                    <p class="player-nick">Эрл Грей</p>
                    <p class="player-results">2.68 средний бал (25 игр) </p>
                    <p class="player-faculty">КНУ, Институт Филологии</p>
                    <p class="player-exp">Играет 3 месяца</p>
                    <div class="honours">
                        <div title="Лучший игрок ОСЕНИ 2015" class="season-1 honour"></div>
                        <div title="Лучший игрок ноября 2015" class="month-3 honour"></div>
                    </div>
                </div>
                <div class="player" id="top2-player">
                    <!-- <a href="/players/klich"> -->
                        <img class="player-logo" src="views/img/players/klich.jpg" alt="klich">
                    <!-- </a> -->
                    <p class="player-nick">Клич</p>
                    <p class="player-results">2.48 средний бал (29 игр) </p>
                    <p class="player-faculty">КНУ, Институт Высоких Технологий</p>
                    <p class="player-exp">Играет 2 года</p>
                    <div class="honours">
                        <div title="Лучший игрок ОСЕНИ 2015" class="season-1 honour"></div>
                        <div title="Лучший игрок ноября 2015" class="month-3 honour"></div>
                    </div>
                </div>
                <div class="player" id="top3-player">
                    <!-- <a href="/players/Phoenix"> -->
                        <img class="player-logo" src="views/img/players/Phoenix.jpg" alt="Erl Gray">
                    <!-- </a> -->
                    <p class="player-nick">Феникс</p>
                    <p class="player-results">2.10 средний бал (29 игр) </p>
                    <p class="player-faculty">КНУ, Факультет Информационных технологий</p>
                    <p class="player-exp">Играет 9 месяцев</p>
                    <div class="honours">
                        <div title="Лучший игрок ОСЕНИ 2015" class="season-1 honour"></div>
                        <div title="Лучший игрок ноября 2015" class="month-3 honour"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-block">
            <title class="top-title">Нобярь 2015</title>
            <div id="top-players">
                <div class="player" id="top1-player">
                    <!-- <a href="/players/Phoenix"> -->
                        <img class="player-logo" src="views/img/players/Phoenix.jpg" alt="Erl Gray">
                    <!-- </a> -->
                    <p class="player-nick">Феникс</p>
                    <p class="player-results">3.00 средний бал (11 игр) </p>
                    <p class="player-faculty">КНУ, Факультет Информационных технологий</p>
                    <p class="player-exp">Играет 9 месяцев</p>
                    <div class="honours">
                        <div title="Лучший игрок ОСЕНИ 2015" class="season-1 honour"></div>
                        <div title="Лучший игрок ноября 2015" class="month-3 honour"></div>
                    </div>
                </div>
                <div class="player" id="top2-player">
                    <!-- <a href="/players/stone_cold"> -->
                        <img class="player-logo" src="views/img/players/stone_cold.jpg" alt="Erl Gray">
                    <!-- </a> -->
                    <p class="player-nick">Stone Cold</p>
                    <p class="player-results">2.62 средний бал (13 игр) </p>
                    <p class="player-faculty">КНУ, Мех-Мат</p>
                    <p class="player-exp">Играет 3 года</p>
                    <div class="honours">
                        <div title="Лучший игрок ОСЕНИ 2015" class="season-1 honour"></div>
                        <div title="Лучший игрок ноября 2015" class="month-3 honour"></div>
                    </div>
                </div>
                <div class="player" id="top3-player">
                    <!-- <a href="/players/alister"> -->
                        <img class="player-logo" src="views/img/players/alister.jpg" alt="Erl Gray">
                    <!-- </a> -->
                    <p class="player-nick">Алистер</p>
                    <p class="player-results">2.50 средний бал (12 игр) </p>
                    <p class="player-faculty">КНУ</p>
                    <p class="player-exp">Играет 3 месяца</p>
                    <div class="honours">
                        <div title="Лучший игрок ОСЕНИ 2015" class="season-1 honour"></div>
                        <div title="Лучший игрок ноября 2015" class="month-3 honour"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<!-- <script type="text/javascript" charset="utf-8" async defer>

    //задел для аджаксов
    //
    // var menuItems = document.getElementsByClassName('main-menu-item');
    // menuItems[0].classList.add('current');
    // var menuRefs = document.getElementsByClassName('main-menu-ref');
    // function linkListener (e) {
    //     e.preventDefault();
    //     console.log(e);
    // }
    // for (var i = 0; i < menuRefs.length; i++) {
    //     menuRefs.addEventListener('click', linkListener);
    // }
</script>-->
 </body>
</html>