<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BakerStreet 21b Mafia Club</title>
    <style type="text/css" media="screen">
        @font-face {
            font-family: Barocco_Floral_Initial;  
            src: url(views/fonts/Barocco_Floral_Initial.ttf);
        }
    </style>
<!--     <style>
    @font-face {
            font-family: KZCorinthia; /* Имя шрифта */
            src: url(views/fonts/KZCorinthia.ttf); /* Путь к файлу со шрифтом */
        }
        </style> -->
    <style>
        @font-face {
            font-family: old_english; /* Имя шрифта */
            src: url(views/fonts/old_english.ttf); /* Путь к файлу со шрифтом */
        }

    </style>


    <link rel="stylesheet" type="text/css" href="views/css/home.css">
</head>
<body>
<div id="page-container">

    <header id="header">
        <div class="page-title-container">
            <a id="page-logo-ref" href="/home">
                <img src="views/img/main_logo_black.png" alt="BakerLogo" id="pageLogo">
            </a>
            <div id="page-title">
                <div class="page-title-part">"Baker Street 221b"</div> 
                <div class="page-title-part">Mafia Club</div>
            </div>
        </div>
        <nav>
            <ul class="main-menu">
                <li class="main-menu-item"><a class="main-menu-ref" href="/about_us" title="">О нас</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" href="/news" title="">Новости</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" href="/rating" title="">Рейтинг</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" href="/members" title="">Члены клуба</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" href="/hall_of_fame" title="">Зал Славы</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" href="/friends" title="">Друзья</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article>
            <p>
                Клуб мафии Киевского Национального Университета им.Т. Шевченко Baker Street 221b проводит игры в течении 5 лет,
                являясь членом Студенческой Лиги Игры Мафия (СЛИМ) Федерации Интеллектуальной Игры Мафия(ФИИМ).
            </p>
            <p>
                Подарок от клуба для всех именинников - бесплатное посещение следующей встречи после Вашего дня рождения.
            </p>
            <p>
                Коллектив организаторов желает Вам приятных и интересных игр!
            </p>
            <p>
                PS: Чтобы получать приглашения на встречи и быть в курсе всех событий из жизни клуба, вступайте в <a href="https://vk.com/baker_street_mafia_club"> нашу группу</a>
            </p>
            <p>
                Добро пожаловать в Игру!
            </p>
        </article>
    </main>
</div>
<script>
window.onload = function () {
    pageLogo.style.transform = 'scale(-1,1)';
    setTimeout(function () {
        pageLogo.style.transform = 'scale(1,1)';
        pageLogo.style.transform = '';
    }, 3000)
}
</script>
</body>
</html>