<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BakerStreet 21b Mafia Club</title>
    <style type="text/css" media="screen">
        @font-face {
            font-family: Barocco_Floral_Initial; /* Имя шрифта */
            src: url(views/fonts/Barocco_Floral_Initial.ttf); /* Путь к файлу со шрифтом */
        }
        @font-face {
            font-family: old_english; /* Имя шрифта */
            src: url(views/fonts/old_english.ttf); /* Путь к файлу со шрифтом */
        }
    </style>
    <link rel="stylesheet" type="text/css" href="views/css/home.css">
</head>
<body>
<div id="page-container">

    <header id="header">
        <div class="page-title-container">
            <img src="views/img/main_logo_black.png" alt="BakerLogo" id="page-logo">
            <span id="page-title">"Baker Street 221b" Mafia Club</span>
        </div>
        <nav>
            <ul class="main-menu">
                <li class="main-menu-item"><a class="main-menu-ref" href="/about_us" title="">О нас</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" href="/news" title="">Новости</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" href="/rating" title="">Рейтинг</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" href="/members" title="">Члены клуба</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" href="/hall_of_fame" title="">Зал Славы</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" href="/friends" title="">Друзья</a></li>
            </ul>
        </nav>
    </header>

    <main>

    </main>

</div>
</body>
</html>