<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
<div id="page-container">
    <% include partials/header %>
    <main>
        <% include partials/meeting %>
    </main>
</div>
</body>
</html>