<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BakerStreet 21b Mafia Club</title>
    <style type="text/css" media="screen">
        @font-face {
            font-family: Barocco_Floral_Initial;
            src: url(views/fonts/Barocco_Floral_Initial.ttf);
        }
    </style>
    <style>
        @font-face {
            font-family: old_english; /* Имя шрифта */
            src: url(views/fonts/old_english.ttf); /* Путь к файлу со шрифтом */
        }
    </style>
    <link rel="stylesheet" type="text/css" href="views/css/home.css">
</head>
<body>
<div id="page-container">

    <header id="header">
        <div class="page-title-container">
            <a id="page-logo-ref" href="/home">
                <img src="views/img/main_logo_black.png" alt="BakerLogo" id="pageLogo">
            </a>
            <div id="page-title">
                <div class="page-title-part">"Baker Street 221b"</div>
                <div class="page-title-part">Mafia Club</div>
            </div>
        </div>
        <nav>
            <ul class="main-menu">
                <li class="main-menu-item"><a class="main-menu-ref" id="about_us" href="/about_us" title="">О нас</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" id="news" href="/news" title="">Новости</a></li>
                <li class="main-menu-item current"><a class="main-menu-ref" id="rating" href="/rating" title="">Рейтинг</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" id="members" href="/members" title="">Члены клуба</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" id="hall_of_fame" href="/hall_of_fame" title="">Зал Славы</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" id="friends" href="/friends" title="">Друзья</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article>
            <title>Следующая встреча в этот вторник 8.12.2015 в 19.00</title>
            <p>
               Традиционно приглашаем Вас на <a href="https://vk.com/bs_vstrecha_162" target="_blank">встречу клуба</a> мафии Baker Street 221b!
            </p>
            <p>
               Что? - Кофе/чай/печенье, фото, захватывающие игры, новые знакомства, развитие увренности и убедительности, пледики и конечно обнимшки ;)
            </p>
            <p>
               Где? - Студенческий городок КНУ, метро "Выставочный центр", ул. Ломоносова 55, клуб "Планета".
            </p>
            <p>
               Когда? - 8 декабря с 19.00 до 23.00.
            </p>
            <p>
               Члеский взнос? - 20 грн за вечер игр
                <img id="seal" src="views/img/seal.png" height="233" width="191" alt="seal">
            </p>
            <p>
                <time pubdate datetime="2015-12-07" title="7го декабря 2015">7го декабря 2015</time>
            </p>
        </article>
    </main>
</div>
<!-- <script type="text/javascript" charset="utf-8" async defer>

    //задел для аджаксов
    //
    // var menuItems = document.getElementsByClassName('main-menu-item');
    // menuItems[0].classList.add('current');
    // var menuRefs = document.getElementsByClassName('main-menu-ref');
    // function linkListener (e) {
    //     e.preventDefault();
    //     console.log(e);
    // }
    // for (var i = 0; i < menuRefs.length; i++) {
    //     menuRefs.addEventListener('click', linkListener);
    // }
</script>-->
 </body>
</html>