<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
<div id="page-container">
    <% include partials/header %>
    <main>
        <article>
            <title>Следующая встреча в этот вторник 8.12.2015 в 19.00</title>
            <p>
               Традиционно приглашаем Вас на <a href="https://vk.com/bs_vstrecha_162" target="_blank">встречу клуба</a> мафии Baker Street 221b!
            </p>
            <p>
               Что? - Кофе/чай/печенье, фото, захватывающие игры, новые знакомства, развитие увренности и убедительности, пледики и конечно обнимшки ;)
            </p>
            <p>
               Где? - Студенческий городок КНУ, метро "Выставочный центр", ул. Ломоносова 55, клуб "Планета".
            </p>
            <p>
               Когда? - 8 декабря с 19.00 до 23.00.
            </p>
            <p>
               Члеский взнос? - 20 грн за вечер игр
                <img id="seal" src="public/views/img/seal.png" height="233" width="191" alt="seal">
            </p>
            <p>
                <time pubdate datetime="2015-12-07" title="7го декабря 2015">7го декабря 2015</time>
            </p>
        </article>
    </main>
</div>
</body>
</html>