<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BakerStreet 21b Mafia Club</title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>
<div id="page-container">

    <header id="header">
        <div class="page-title-container">
            <img src="img/logo.gif" alt="BakerLogo" id="page-logo">
            <span id="page-title">"Baker Street 221b" Mafia Club</span>
        </div>
        <nav>
            <ul class="main-menu">
                <li class="main-menu-item"><a class="main-menu-ref" href="/about_us" title="">О нас</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" href="/about_us" title="">Новости</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" href="/about_us" title="">Рейтинг</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" href="/about_us" title="">Члены клуба</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" href="/about_us" title="">Зал Славы</a></li>
                <li class="main-menu-item"><a class="main-menu-ref" href="/about_us" title="">Друзья</a></li>
            </ul>
        </nav>
    </header>

    <main>

    </main>

</div>
</body>
</html>