<form class="protocol-form clearfix" novalidate accept-charset="utf-8" name="ProtocolForm">
    <div class="">
      <div class="metadata-container">
        <table metadata
          wins="protocol.WIN"
          tables="protocol.TABLES"
          class="metadata table table-bordered table-hover"
          player-nicks="protocol.playerNicks"></table >
        <div class="button-container">
          <timer></timer>
          <button class= "btn btn-primary" id="control-btn" ng-disabled="ProtocolForm.$invalid" ng-click="protocol.saveGame()">Сохранить игру</button>
          <button class= "btn btn-primary" id="control-btn" ng-disabled="!protocol.game.metadata.gameNumber || !protocol.game.metadata.date || !protocol.game.metadata.table" ng-click="protocol.loadGame()">Загрузить игру</button>
          <button class= "btn btn-primary" id="control-btn" ng-disabled="!protocol.game.metadata.gameNumber || !protocol.game.metadata.date || !protocol.game.metadata.table" ng-click="protocol.deleteGame()">Удалить игру</button>
        <button class= "btn btn-primary" id="control-btn" ng-click="hiddenRoles = !hiddenRoles">Роли</button>
        </div>
        <div class="player-hint" ng-show="ProtocolForm.$invalid">
          Пожалуйста заполните все игровые ники и необходимые поля!
        </div>
      </div>


        <div class="protocol-container"
           ng-class="{'hidden-roles':hiddenRoles}">
        <table class="table table-bordered table-hover clearfix">
          <thead>
            <tr ng-include="'players/players-header.html'"></tr>
          </thead>
          <tbody class="player-container">
            <tr player
              ng-repeat="player in protocol.game.playerLines track by $index"
              number="$index"
              max-falls="protocol.MAX_FALLS"
              roles="protocol.ROLES"
              player-nicks="protocol.playerNicks"
            >
            </tr>
          </tbody>
        </table>
        </div>
    </div>

    <days ng-class="{'hidden-roles':hiddenRoles}"
          state="protocol.state"
          days="protocol.game.days"
          players="protocol.game.playerLines"
    >
    </days>
</form>