<tbody>
    <tr>
        <td>Стол</td>
        <td>
            <select class="metadata-input" required ng-model="metadata.data.table" ng-options=":: table for table in tables"></select>
        </td>
    </tr>
    <tr>
        <td>Дата</td>
        <td>
            <input class="metadata-input" required ng-model="metadata.data.date" type="date" name="" value="" placeholder="">
        </td>
    </tr>
    <tr>
        <td>Ведущий</td>
        <td>
            <input class="metadata-input"
                   type="text"
                   required
                   ng-model="metadata.data.ref"
                   typeahead-min-length="0"
                   typeahead-select-on-exact="true"
                   uib-typeahead="nick for nick in playerNicks | filter:$viewValue | limitTo:8">
        </td>
    </tr>
    <tr>
        <td>Победа</td>
        <td>
            <select  class="metadata-input" required ng-model="metadata.data.win" ng-options=":: win for win in wins"></select>
        </td>
    </tr>
    <tr>
        <td>Номер игры</td>
        <td>
            <input  class="metadata-input" required ng-model="metadata.data.gameNumber" type="number" name="" value="" placeholder="" min="0" step="1">
        </td>
    </tr>
    <tr class="audio-tr">
        <td>Музыка</td>
        <td>
            <div class="audio">
                <audio controls  loop="true" preload="metadata" title="doIWannaKnow">
                    <source src="./../../media/doIWannaKnow.mp3" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
                <audio controls  loop="true" preload="metadata" title="radioactive">
                    <source src="./../../media/radioactive.mp3" type="audio/mp3">
                </audio>
                <audio controls  loop="true" preload="metadata" title="bootySwing">
                    <source src="./../../media/bootySwing.mp3" type="audio/mp3">
                </audio>
                <audio controls  loop="true" preload="metadata" title="fellInLovaWithAGirl">
                    <source src="./../../media/fellInLovaWithAGirl.mp3" type="audio/mp3">
                </audio>
                <audio controls  loop="true" preload="metadata" title="irresistible">
                    <source src="./../../media/irresistible.mp3" type="audio/mp3">
                </audio>
                <audio controls  loop="true" preload="metadata" title="takeMeToChurch">
                    <source src="./../../media/takeMeToChurch.mp3" type="audio/mp3">
                </audio>
                <audio controls  loop="true" preload="metadata" title="mayhem">
                    <source src="./../../media/mayhem.mp3" type="audio/mp3">
                </audio>
                <audio controls  loop="true" preload="metadata" title="BlackBlackHeart">
                    <source src="./../../media/BlackBlackHeart.mp3" type="audio/mp3">
                </audio>
            </div>
        </td>
    </tr>

</tbody>
