<caption>Информация об игре</caption>
<tbody>
    <tr>
        <td>Стол</td>
        <td>
            <select class="metadata-input" required ng-model="metadata.data.table" ng-options=":: table for table in tables"></select>
        </td>
    </tr>
    <tr>
        <td>Дата</td>
        <td>
            <input class="metadata-input" required ng-model="metadata.data.date" type="date" name="" value="" placeholder="">
        </td>
    </tr>
    <tr>
        <td>Ведущий</td>
        <td>
            <input class="metadata-input"
                   type="text"
                   required
                   ng-model="selected"
                   typeahead-min-length="0"
                   typeahead-select-on-exact="true"
                   uib-typeahead="nick for nick in playerNicks | filter:$viewValue | limitTo:8">
        </td>
    </tr>
    <tr>
        <td>Победа</td>
        <td>
            <select  class="metadata-input" required ng-model="metadata.data.win" ng-options=":: win for win in wins"></select>
        </td>
    </tr>
    <tr>
        <td>Номер игры</td>
        <td>
            <input  class="metadata-input" required ng-model="metadata.data.gameNumber" type="number" name="" value="" placeholder="" min="0" step="1">
        </td>
    </tr>

</tbody>
