
*{
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    background: #b89b70;
    background: -moz-radial-gradient(top, ellipse cover, #b89b70 0%, #78553d 100%);
    background: -webkit-gradient(radial, top top, 0px, top top, 100%, color-stop(0%, #b89b70), color-stop(100%, #78553d));
    background: -webkit-radial-gradient(top, ellipse cover, #b89b70 0%, #78553d 100%);
    background: -o-radial-gradient(top, ellipse cover, #b89b70 0%, #78553d 100%);
    background: -ms-radial-gradient(top, ellipse cover, #b89b70 0%, #78553d 100%);
    background: radial-gradient(ellipse at top, #b89b70 0%, #78553d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#facd96', endColorstr='#2b2b2b', GradientType=1 );

    background-image: url(../img/main_bg_low.jpg);
    background-size: cover;
}
#page-container {
    height: 100%;
    margin: 0 auto;
    width: 90%;
}

#page-container>* {
    max-width: 920px; 
}

/*============== HEADER =============*/

#header {
    margin: 10px auto;
}

/*===== Page-title-container ====*/
.page-title-container {
    text-align: center;
}

#pageLogo {
    transition: all 1.5s ease;
    display: inline-block;
    width: 152px;
    height: 201px;
}

#pageLogo:hover {
    transform: scale(-1,1);
}

#page-title {
    font-size: 45px;
    font-family: "old_english", Georgia, 'Times New Roman', serif;
}


/*============ MAIN MENU ============*/
nav {
    text-align: center;
}
.main-menu {
    overflow: hidden;
    display: inline-block;
}

.main-menu-item {
    transition: all 1s;
    margin: 2px;
    border-radius: 12px;
    float: left;
    text-align: center;
    list-style: none;
    background-color: #f0dab4;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) ;
}
.main-menu-item:hover {
    box-shadow: 1px 1px 8px rgb(0, 0, 0);
    position: relative;
    bottom: 1px;
    left: 1px;
    background-color: rgb(217, 185, 128);
}

.main-menu-ref {
    padding: 0 10px;
    display: inline-block;
    min-width: 82px;
    color: #000;

    text-decoration: none;
    font-size: 30px;
    line-height: 50px;
    font-family: "Barocco_Floral_Initial", Georgia, 'Times New Roman', serif;
}

/* ==========  MAIN ==========*/
main {
    margin: 10px auto;
}

article {
    font-size: 45px;
    padding: 10px;
    text-align: justify;
    text-indent: 1em;
    font-family: KZCorinthia, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
article::first-letter {
    font-family: "Barocco_Floral_Initial", Georgia, 'Times New Roman', serif;
    font-size: 30px;
}

article a{
    text-decoration: none;
    color: #250707;
    font-style: italic;
}
article a:hover{
    transition:all 1s;
    background-color: #852929;
}
