<img ng-init="imgurl = player.nick.replace(' ', '')"
    class="player-logo"
    ng-src="{{::player.imglink || STATIC_URL + '/img/players/' + imgurl + '.jpg'}}"
    alt="{{::player.nick}}"
    ng-click="openNewTab(player.vk)"
    vk={{::player.vk}}
    onerror="this.src='img/main_logo.png'; this.onerror=''"
>
<div class="player-text-container">
    <p class="player-nick">{{::player.nick}}</p>
    <p class="player-faculty">{{::player.firstname}} {{::player.lastname}}</p>
    <p class="player-results" ng-show="player.avr">{{::player.avr + ' средний бал '}}{{::'(' + player.gameNumber + ' игр)'}}</p>
    <p class="player-faculty" ng-show="player.memberlevel > 2">{{::player.position}}</p>
    <p class="player-faculty">{{::player.faculty}}</p>
    <p ng-if="player.startdate" class="player-exp">Играет с {{::player.startdate | date}}</p>
    <p class="player-faculty" ng-show="player.memberlevel > 2">{{::player.phone}}</p>
    <div class="honours">
        <div
        ng-repeat="(j, honour) in player.honours"
        title="{{::honour.title}}"
        class="{{::honour.type}}-{{::honour.place}} honour"
        ></div>
    </div>
</div>
