<article class="article" ng-repeat="(i, new) in news.data">
    <title class="article-title">
      {{::new.type === 'встреча' ? new.number + new.title : new.title}}
    </title>
    <img class="player-logo"
      ng-src="avatars/{{::new.img}}"
      src="img/main_logo.png"
      onerror="this.src = 'img/main_logo.png'; this.onerror=''"
    >
    <p class="entry">
        {{::new.entry}}
      <a ng-if="new.vk"  href='{{:: new.vk || "https://vk.com/bs_vstrecha_" + new.number}}' target='_blank'>
          глянуть вк...
      </a>
    </p>
    <p ng-if="new.description">
      Что? - {{::new.description}}
    </p>
    <p ng-if="new.place">
      Где? -
      <a href="https://goo.gl/oFev5u">
       {{::new.place}}
      </a>
    </p>
    <p ng-if="new.date">
       Когда? - {{::new.date | date: 'medium'}}
    </p>
    <p ng-if="new.price">
       Сколько? - {{::new.price}} за вечер игр
    </p>
    <p>
      С уважением, команда организаторов.
    </p>
</article>