<button class="form-button" id='showLogin'>Я орг</button>
<div id="authform">
    <input class="form-input" type="text" name="" value="" placeholder="Ник">
    <input class="form-input" type="password" name="" value="" placeholder="Пароль">
    <button class="form-button">Внести игры</button>
</div>