<period-selector
  period-type="RatingCtrl.periodType"
  period="RatingCtrl.period"
  year="RatingCtrl.year"
  on-click="RatingCtrl.getRating"
  ></period-selector>
<span class="controls-text">
  Игр
</span>
<input
    class="number-input"
    type="number"
    name="edge"
    placeholder=""
    ng-model="gameEdge"
    ng-init="gameEdge = 0"
>
<span class="controls-text">
  Показать игроков, сыгравших не менее
</span>

<table class="table table-bordered" id="ratingTable" border='1'>
  <thead>
    <tr>
      <th>Фото</th>
      <th>Ник</th>
      <th>Среднее</th>
      <th>Игр</th>
      <th>Лучшие от игроков</th>
      <th>Лучшие от Судей</th>
    </tr>
  </thead>
  <tbody>
    <tr
        class="rating-row"
        id="{{::player.nick}}"
        ng-repeat="(i, player) in rating"
        ng-show="player.gamenumber >= gameEdge"
    >
      <td id="{{::player.avatar}}">
        <img class="playerAvatarInRating"
        onerror="this.src='img/main_logo.png'; this.onerror=''"
        ng-src="{{::player.imglink}}"
        alt="">
      </td>
      <td>{{::player.nick}}</td>
      <td>{{::player.score}}</td>
      <td>{{::player.gamenumber}}</td>
      <td>{{::player.bp}}</td>
      <td>{{::player.br}}</td>
    </tr>
  </tbody>
</table>
<script src="../js/plain/rating.js" type="text/javascript" charset="utf-8"></script>
